<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
        {% block stylesheets %}
        
<style>

    .custom-label {
        position: relative;
    }

    .custom-label-left {
        left: -200px;
    }

    .custom-label-left2 {
        left: -190px;
    }

    .custom-label-left3 {
        left: -150px;
    }

    .custom-label-left4 {
        left: -190px;
    }

    .custom-label-left5 {
        left: -180px;
    }
    
.inline-field {
    display: inline-block;
    margin-right: 10px;
}

</style>
{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>
        
        <main>
            {% block body %}{% endblock %}
        

       

        <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>
        {% block javascripts %}
        <script>
            let drop = new Axentix.Dropdown('#dropdown')
        </script>
        {% endblock %}
        <script src="{{ asset('js/scripts.js') }}"></script>
    </body>
</html>